<ngx-loading [show]="loading"></ngx-loading>

<app-header></app-header>

<div class="container-fluid my-3">
    <div class="row mb-4">

        <div class="col-12 text-right">
            <button type="button" class="btn btn-warning text-white btn-sm" [hidden]="!readonly" (click)="readonly=false;">Editable</button>

            <button type="button" class="btn btn-light btn-sm" [hidden]="readonly" (click)="readonly=true;">Finish Edit</button>
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-6">
            <div class="display-6">Packages</div>

        </div>

        <div class="col-6 text-right">
            <a href="javascript:;"  [hidden]="readonly" (click)="addPackage();"> Add Price</a>
        </div>


        <div class="col-12 mt-2">
            <div>
                <small>Icon referenc : <a target="_blank" href="https://www.npmjs.com/package/angular-feather">https://www.npmjs.com/package/angular-feather</a></small>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name </th>

                        <th>Icons </th>
                        <th>Images </th> 

                        <th class="text-right">Price </th>
                        <th class="text-right">Max pair BV per day </th>

                        <th colspan="3" class="text-center"> Profit Sharing </th>


                        <th [hidden]="readonly">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items">
                        <td>{{x.id}}</td>
                        <td><input type="text" class="form-control form-control-sm" [disabled]="readonly" (change)="fnUpdate(x);" [(ngModel)]="x.name" placeholder="Name of buyer"></td>

                        <td><input type="text" class="form-control form-control-sm" [disabled]="readonly" (change)="fnUpdate(x);" [(ngModel)]="x.img" ></td>

                        <td><input type="text" class="form-control form-control-sm" [disabled]="readonly" (change)="fnUpdate(x);" [(ngModel)]="x.ebook" ></td>


                        <td><input type="text" currencyMask class="form-control form-control-sm" [disabled]="readonly" (change)="fnUpdate(x);" [(ngModel)]="x.price"></td>

                        <td><input type="text" currencyMask [options]="{ prefix: 'BV '}" class="form-control form-control-sm" [disabled]="readonly" (change)="fnUpdate(x);" [(ngModel)]="x.pairBvPerDay"  ></td>


                        <td><input type="number" style="width: 60px;" [disabled]="readonly" class="form-control form-control-sm text-right" (change)="fnUpdate(x);" [(ngModel)]="x.profitSharingUser" placeholder="USER"></td>
                        <Td style="width: 5px;">
                            :
                        </Td>
                        <td><input type="number" style="width: 60px;" [disabled]="readonly" class="form-control form-control-sm text-right" (change)="fnUpdate(x);" [(ngModel)]="x.profitSharingK21" placeholder="K21"></td>


                        <td [hidden]="readonly">
                            <a href="javascript:;" [hidden]="x.presence != '9' " (click)="fnPresenceVps(x,1)" class="px-1"><small>Publish</small></a> 
                            <a href="javascript:;" [hidden]="x.presence != '9' " (click)="fnPresenceVps(x,0)" class="px-1"><small>Delete</small></a>
                            

                            <a href="javascript:;" [hidden]="x.presence == '9' " (click)="fnPresenceVps(x,9)"   class="px-1"><small>Disable</small></a> 
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>