<ngx-loading [show]="loading"></ngx-loading>
<app-header></app-header>


<div class="container-fluid mt-3">

    <div class="row mb-3">
        <div class="col-8">
            <div>
                <strong>Data Profit Sharing Kitaro21</strong>
            </div>
        </div>

        <div class="col-4 text-right">
            <!-- <a [href]="fileTemplate" target="_blank" class="mx-3"><small> <img src="./assets/icon/icons8-microsoft-excel.svg" class="text-success" width="20"> Donwload Xlsx Template</small></a> -->

            <a href="javascript:;" (click)="open(content)" class="btn btn-sm btn-outline-secondary  "><small> <img src="./assets/icon/upload-cloud.svg" width="20"> Upload Data</small></a>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <table id="ha" class="display excel" style="width:100%">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Batch</th>
                        <th class="text-right">Total User</th>
                        <th class="text-right">Total Profit</th>
                        <th class="text-center"> Action </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let x of items">
                        <td>{{x.period_date | date}}</td>
                        <td><code>{{x.batch }}</code></td>
                        <td class="text-right">{{x.total_user | number}}</td>

                        <td class="text-right">Rp {{x.total_amount | number}}</td>
                        <td class="text-center"> <button type="button" [routerLink]="[ '/profit/detail', x.batch ]" class="btn btn-sm py-0 btn-primary mx-1">Detail</button>

                            <button type="button" (click)="onRemove(x);" class="btn btn-sm py-0 btn-danger mx-1">Remove</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>






<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Insert Profit Sharing</strong>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>1 USD </td>
                <td><input type="text" [(ngModel)]="currency" class="form-control form-control-sm" currencyMask [options]="{ prefix: 'Rp '}"></td>
                <td> <button type="button" class="btn btn-sm btn-dark" (click)="onCurrency();">Update</button> </td>
            </tr>
        </table>
        <div class="border">
            <table class="table table-sm excel">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="text-right">Amount USD</th>
                        <th>Update</th>
                        <th>Input</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of user; let i= index">
                        <td> {{i+1}} </td>
                        <td> <code>{{x.id}}</code> </td>
                        <td> <b>{{x.user}}</b> </td>
                        <td>
                            <input type="number" class="form-control form-control-sm text-right" [(ngModel)]="x.amount" (change)="updateEditable(x)">
                        </td>
                        <td> {{x.update_by}}, {{x.update_date | date}} </td>
                        <td> {{x.input_by}}, {{x.input_date | date}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="modal-footer">
        <small>Setelah di submit maka akan di generate nomor batch, jika terjadi kesalahan maka dapat dihapus </small>

        <button type="button" class="btn btn-dark" (click)="onSubmitProfit();">Submit</button>
    </div>

</ng-template>