<app-header></app-header>

<div class="container-fluid">
    <div class="row my-3">
        <div class="col-12 mb-2">
            <h1 class="display-6 ">Waiting Approved Verified Users</h1>
        </div>
      
         
        <div class="col-12">
            <strong>Member</strong>
            <table id="example" class="display excel " style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>level</th>


                        <th>Direct Sponsor</th>
                        <th>Tree Parent</th>

                        <th>Expires Date</th>
                        <th>verified</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of items; let i = index">
                        <td>{{i+1}}</td>
                        <td><code>{{x.id}}</code></td>
                        <td>{{x.name}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.level}}</td>

                        <td>{{x.parent}}</td>
                        <td>{{x.tree}}</td>
                        <td>{{x.expires_date | date}}</td>

                        <td> 
                            {{x.verified == '100' ? 'Verified' : 'Pending' }}</td>
                        <td> 
                            <a [routerLink]="[ '/user/', x.id]" class="btn btn-sm btn-primary mx-1 py-0">Detail</a>  
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div> 