<app-header></app-header>

 

<div class="container-fluid">
    <div class="row">


        <div class="col-12 my-3">
            <h1 class="display-6">General Jurnal Transaction in 12 Month</h1> 
        </div>
 
        <div class="col-12 mb-5">
            <div class=""> 
                <table id="dataTables"  class="display excel border"  style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th title="Transaction Code">Trans.Code</th>
                            <th>Label</th>
                            <th>Note</th>

                            <th style="text-align: right;">Amount</th>
                            <th style="text-align: right;">Balance</th>
                            
                            <th>ID User</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        

                        <tr *ngFor="let x of items">
                            <td>{{x.input_date | date : 'medium'}}</td>
                            <td><code>{{x.transactionCode}}</code></td>
                            <td>{{x.labels}}</td>
                            <td>{{x.note}}</td>
                            <td style="text-align: right;"  [ngClass]="{'text-danger': x.amount <0}"  >Rp {{x.amount | number}}</td>
                            <td style="text-align: right;">Rp {{x.balance | number}}</td>
                            <td> {{x.userId}} </td>
                            <td> {{x.name}} </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>